@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"),local(OpenSans-LightItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hlIqU.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"),local(OpenSans-Italic),url(//fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Xdck.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Xdcs.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"),local(OpenSans-SemiBoldItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUdhlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUdhlIqU.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"),local(OpenSans-BoldItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhlIqU.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"),local(OpenSans-ExtraBoldItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKW-U9hlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKW-U9hrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKW-U9hlIqU.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOhv.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),local(OpenSans-Regular),url(//fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50f.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50d.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"),local(OpenSans-SemiBold),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXOhv.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXOhv.woff) format("woff");
}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"),local(OpenSans-ExtraBold),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXOhv.woff) format("woff");
}
*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  -webkit-text-decoration: none;
  text-decoration: none;
}
:root{
  --index: calc(1vw + 1vh);
}
::-moz-selection {
  background: #FFDFC7; /* Safari */
}
::selection {
  background: #FFDFC7; /* Safari */
}
::-moz-selection {
  background: #FFDFC7; /* Firefox */

}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjg.woff) format("woff");
}
body{
  background: var(--mainBGColor);
  font-family: var(--mainFont);
  overflow-x: hidden;
}
header{
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(39,44,63,.06);
  position: sticky;
  top: -81px;
  background: #fff;
  z-index: 5;
}
.header--top{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e8ea;
}
.header--logo{
  display: block;
}
.header--info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header--info a{
  -webkit-text-decoration: none;
  text-decoration: none;
  font-family: var(--mainFont);
  color: var(--mainFontColor);
  transition: .75s all;
}
.header--info a:hover{
  color: var(--secondFontColor);
}
.header--info .info--socials{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: calc(0.5vw + 0.5vh);
  gap: calc(0.5vw + 0.5vh);
  gap: calc(var(--index)*0.5);
}
.header--info .info--socials a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  transition: .75s all;
}
.header--info .info--socials a:hover svg{
  fill: var(--secondFontColor);
}
.header--info .info--socials a svg{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: var(--mainFontColor);
  transition: .75s all;
}
.header--info .info--search_btn{
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.header--info .info--search_btn:hover svg{
  stroke: var(--secondFontColor);
}
.header--info .info--search_btn svg{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  stroke: var(--mainFontColor);
  transition: .75s all;
}
.header--body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background: #fff;

}
.header--body .header--menu ul{
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: calc(1.2vw + 1.2vh);
      gap: calc(1.2vw + 1.2vh);
      gap: calc(var(--index)*1.2);
    }
.header--body .header--menu ul li{
        list-style: none;
        padding: 20px 0;
      }
.header--body .header--menu ul li:hover a{
            color: var(--secondFontColor);
          }
.header--body .header--menu ul li:hover .menu--sub{
            transform: translate(-50% , 0%);
            opacity: 1;
            z-index: 5;
            overflow: visible;
          }
.header--body .header--menu ul li:hover a:before{
              transform: scaleX(1);
            }
.header--body .header--menu ul li a{
          -webkit-text-decoration: none;
          text-decoration: none;
          font-family: var(--mainFont);
          color: var(--mainFontColor);
          font-weight: 500;
          font-size: 16px;
          transition: .75s all;
          position: relative;
        }
.header--body .header--menu ul li a:before{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background:var(--secondFontColor) ;
            top: -32px;
            position: absolute;
            transform: scaleX(0);
            transition: .3s all;
          }
.header--body .header--menu ul li a.active:before{
              transform: scaleX(1);
            }
.header--body .header--menu ul li .menu--sub{
          background: var(--layer5);
          padding: 40px 0 40px 0;
          margin: 20px auto 0 auto;
          position: absolute;
          width: 100vw;
          left: 50%;
          overflow: hidden;
          transform: translate(-50% , -200%);
          transition: .2s all;
          transition-delay: .2s;
          z-index: -500;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-between;
        }
.header--body .header--menu ul li .menu--sub .menu--sub_content{
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: start;
          }
.header--body .header--menu ul li .menu--sub .menu--sub--list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-content: center;
            gap: calc(2vw + 2vh);
            gap: calc(2vw + 2vh);
            grid-gap: calc(2vw + 2vh);
            grid-gap: calc(2vw + 2vh);
            grid-gap: calc(var(--index)*2);
            gap: calc(var(--index)*2);
          }
.header--body .header--menu ul li .menu--sub .menu--sub--list li{
              padding: 0;
            }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                gap: calc(1vw + 1vh);
                gap: calc(1vw + 1vh);
                gap: calc(var(--index));
                color: rgba(255,255,255,.6);
              }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a:before{
                  display: none;
                }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a span{
                  color: #fff;
                }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a:hover{
                  color: #fff;

                }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a:hover span{
                    color: #fff;
                  }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a img{
                  width: 50px;
                  height: 50px;
                  -o-object-fit: contain;
                     object-fit: contain;
                }
.header--body .header--menu ul li .menu--sub .menu--sub--list li a .list--link_content{
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-direction: column;
                }
.header--body .header--menu ul li .menu--sub .menu--sub_info{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            gap: calc(0.3vw + 0.3vh);
            gap: calc(0.3vw + 0.3vh);
            gap: calc(var(--index)*0.3);
          }
.header--body .header--menu ul li .menu--sub .menu--sub_info img{
              width: 100%;
              border-radius: 5px;
              height: auto;
            }
.header--body .header--menu ul li .menu--sub .menu--sub_info span{
              font-size: 17px;
              line-height: 1.4;
              font-family: var(--mainFont);
              font-weight: 500;
              color: #fff;

            }
.sub_info--btn{
  background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
  color: var(--mainFontColor);
  background-color: #fff;
  background-position: 50% 100%;
  background-size: 0;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
  padding: 0 25px;
  line-height: 40px;
  font-size: 11px;
  margin: 0;
  border: none;
  overflow: visible;
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  background-origin: border-box;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.sub_info--btn:hover{
    background-size: 15000%;
    color: var(--mainFontColor);
    background-color: #fff;
    background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
  }
.btn--default{
  background: var(--secondFontColor);
  color: #fff;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  padding: 0 30px;
  font-size: 12px;
  line-height: 48px;
  text-align: center;
  transition: .2s ease-in-out;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  background-origin: border-box;
  background-image: radial-gradient(circle at 50% 100%,var(--layer5) 1%,transparent 1%);
  transition-duration: .5s;
  background-size: 0;
  background-position: 50% 100%;
}
.btn--default:hover{
    background-size: 15000%;
    background-position: 50% 100%;
    color: #fff;
  }
.banner_section{
  z-index: 0;
  position: relative;
}
.banner_section .banner_section--row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
  }
.banner_section .banner_section--text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: calc(0.8vw + 0.8vh);
    gap: calc(0.8vw + 0.8vh);
    gap: calc(var(--index)*0.8);
    padding: 0;
    position: relative;
    min-height: 500px;
  }
.banner_section .banner_section--text svg{
      position: absolute;
      width: 170px;
      top: 0;
      right: -10px;
      fill: var(--layer6);
    }
.banner_section .banner_section--text span{
      font-family: var(--mainFont);
      color: var(--secondFontColor);
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1.4;
      font-weight: 600;
      letter-spacing: 1px;
    }
.banner_section .banner_section--text h1{
      line-height: 1.2;
      font-family: var(--mainFont);
      font-weight: 500;
      color: var(--mainFontColor);
      font-size: 42px;
      width: 300px
    }
.banner_section .banner_section--img{
    padding: 0;
  }
.banner_section .banner_section--img img{
      max-width: calc(45vw + 45vh);
      max-width: calc(45vw + 45vh);
      max-width: calc(var(--index)*45);
      width:  100%;
      height: calc(24vw + 24vh);
      height: calc(24vw + 24vh);
      height: calc(var(--index)*24);
      -o-object-fit: cover;
         object-fit: cover;

    }
.section-title{
  font-size: 32px;
  font-family: var(--mainFont);
  font-weight: 500;
  color: var(--mainFontColor);
}
.section-description{
  margin-top: 20px;
  color: #687186;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.section--link{
  display: block;
  margin-top: 40px;
  line-height: 1.5;
  background: 0 0;
  color: var(--mainFontColor);
  position: relative;
  z-index: 0;
  border-radius: 0;
  font-family: var(--mainFont);
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 12px;
  position: relative;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
}
.section--link:before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 100%;
    z-index: -1;
    border-bottom: 4px solid rgba(79,170,231,.8);
    transition: right .3s ease-out;
  }
.section--link:hover:before{
      right: 0;
    }
.section-name{
  color: var(--secondFontColor);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 600;
  letter-spacing: 1px;
  font-style: normal;
  margin-bottom: 32px;
  display: block;
}
.section-btn{
  background-position: 50% 100%;
  background-size: 0;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
  color: #fff;
  background-color: var(--mainFontColor);
  padding: 0 35px;
  line-height: 56px;
  font-size: 13px;
  background-image: radial-gradient(circle at 50% 100%, var(--secondFontColor) 1%,transparent 1%);
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  transition-duration: .5s;
  margin-top: 70px;
}
.section-btn:hover{
    background-size: 15000%;
    color: #fff;
  }
.services_section{
  position: relative;
}
.services_section .services_section--row{
    display: grid;
    grid-template-columns: repeat(3, calc(33.33333% - 4px));

  }
.services_section .services_section--row .services_section--item{
      transition: .1s ease-in-out;
      transition-property: background-color,background-size;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 70px;
      box-sizing: border-box;
      -webkit-text-decoration: none;
      text-decoration: none;
      background-position: 50% 100%;
      transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
      transition-duration: .5s;
      background-repeat: no-repeat;
      background-size: 0 0;
      background-image: radial-gradient(farthest-side at 50% 100%,#eff3f6 calc(100% - 1px),rgba(239,243,246,0) 100%);
    }
.services_section .services_section--row .services_section--item img{
        width: 68px;
        height: 68px;
      }
.services_section .services_section--row .services_section--item h3{
        margin-top: 20px;
        font-size: 24px;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--mainFontColor)
      }
.services_section .services_section--row .services_section--item .item--link{
        margin-top: 70px;
        padding: 0 30px;
        border-radius: 500px;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        font-size: 12px;
        line-height: 48px;
        display: block;
        background-position: 50% 100%;
        background-size: 0;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
        color: var(--mainFontColor);
        background-color: #ecf0f5;
        background-image: radial-gradient(circle at 50% 100%,#e6ebf1 1%,transparent 1%);
      }
.services_section .services_section--row .services_section--item .item--link svg{
          -o-object-fit: contain;
             object-fit: contain;
          width: 28px;
          height: 28px;
          stroke: var(--mainFontColor);
          stroke-width:1 ;
        }
.services_section .services_section--row .services_section--item .item--link:hover{
          background-size: 15000%;
        }
.services_section .services_section--row .services_section--item:nth-child(2n){
        background-color: #f6f8fa;
      }
.services_section .services_section--row .services_section--item:first-child{
        background: transparent;
        padding-left: 0;
      }
.services_section .services_section--row .services_section--item:first-child:hover{
          background: transparent;
        }
.services_section .services_section--row .services_section--item:hover{
        background-color: #f6f8fa;
        background-size: 150% 150%;
      }
.services_section .banner_section--bg_layer{
    left: 0;
    width: 165px;
    height: 330px;
    margin-top: -140px;
  }
.services_section .banner_section--bg_layer svg{
      width: 100%;
      height: 100%;
      fill: var(--secondFontColor);
    }
.doctors_section{
  position: relative;
  padding-bottom: 140px;

}
.doctors_section .doctors_section--row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
.doctors_section .doctors_section--row .doctors_section--img img{
        max-width: 1270px;

      }
.about_section{
  padding-bottom: 140px;
}
.about_section .about_section--top{
    margin-bottom: 70px;
  }
.about_section .about--gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas:
    "first first second three"
    "first first four five";
  }
.about_section .about--gallery a{
      display: block;
    }
.about_section .about--gallery a img{
        width: 100%;
        height: 100%;
      }
.about_section .about--gallery a:first-child{
        grid-area: first;
      }
.about_section .about--gallery a:nth-child(2){
        grid-area: second;
      }
.about_section .about--gallery a:nth-child(3){
        grid-area: three;

      }
.about_section .about--gallery a:nth-child(4){
        grid-area: four;
      }
.about_section .about--gallery a:nth-child(5){
        grid-area: five;
      }
.patients_section{
  position: relative;
  padding-bottom: 100px;
}
.patients_section .patients_section--bg{
    position: absolute;
    left: 0;
    width: calc(19vw + 19vh);
    width: calc(19vw + 19vh);
    width: calc(var(--index)*19);
    height: calc(28vw + 28vh);
    height: calc(28vw + 28vh);
    height: calc(var(--index)*28);
    top: -40%;
  }
.patients_section .patients_section--bg svg{
      width: 100%;
      height: 100%;
    }
.patients_section .patients--items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(1vw + 1vh);
    gap: calc(1vw + 1vh);
    grid-gap: calc(1vw + 1vh);
    grid-gap: calc(1vw + 1vh);
    grid-gap: calc(var(--index));
    gap: calc(var(--index));
    justify-content: space-between;
  }
.patients_section .patients--items .item{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: calc(1vw + 1vh);
      gap: calc(1vw + 1vh);
      gap: calc(var(--index));
    }
.patients_section .patients--items .item .item--icon{
        background: #FEDF72;
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        border-radius: 50%;
      }
.patients_section .patients--items .item .item--icon svg{
          width: 100%;
          height: 100%;
          stroke: var(--mainFontColor);
          fill: none;
        }
.patients_section .patients--items .item .item--info .item--title{
          font-size: 24px;
          line-height: 1.4;
          font-family: var(--mainFont);
          font-weight: 500;
          color: var(--mainFontColor);
          margin-bottom: 20px;
        }
.patients_section .patients--items .item .item--info .item--description{
          font-family: "Open Sans",sans-serif;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          -webkit-text-decoration: none solid rgb(104, 113, 134);
                  text-decoration: none solid rgb(104, 113, 134);
          text-align: left;
          word-spacing: 0px;
          color: #687186;
        }
.contacts_section{
  position: relative;
}
.contacts_section .layers{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
.contacts_section .layers svg{
      height: 100%;
      width: 100%;

    }
.contacts_section .contacts--content{
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
.contacts_section .contacts--items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(1vw + 1vh);
    gap: calc(1vw + 1vh);
    grid-gap: calc(1vw + 1vh);
    grid-gap: calc(1vw + 1vh);
    grid-gap: calc(var(--index));
    gap: calc(var(--index));
    justify-content: space-between;
  }
.contacts_section .contacts--items .item{
      width: calc(50% + 3vw + 3vh);
      width: calc(50% + var(--index)*3);
    }
.contacts_section .contacts--items .item .item--title{
        font-family: var(--mainFont);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        word-spacing: 0px;
        color: var(--mainFontColor);
      }
.contacts_section .contacts--items .item .item--description{
        margin-top: 20px;
        font-family: "Open Sans",sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        word-spacing: 0px;
        color: #687186;
      }
.contacts_section .contacts--items .item .item--link{
        font-size: 17px;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--secondFontColor);
        -webkit-text-decoration: none;
        text-decoration: none;
      }
.image_section{
  background-repeat:no-repeat;
  background-size: cover;
  padding: 140px 0;
  box-sizing: border-box;
  margin-top: 100px;
}
.image_section h3{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
.image_section p{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
  }
.image_section a{
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--mainFontColor);
  }
footer{
  padding-top: 70px;
  padding-bottom: 40px;
  border-bottom: 5px solid var(--secondFontColor);
}
footer .row-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(1vw + 1vh);
    gap: calc(1vw + 1vh);
    grid-gap: calc(1vw + 1vh);
    grid-gap: calc(1vw + 1vh);
    grid-gap: calc(var(--index));
    gap: calc(var(--index));
    margin-bottom: 70px;
  }
footer .row-grid:last-child{
      margin-bottom: 0;
    }
footer .row-grid .item{
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #687186;
    }
footer .row-grid .item h5{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: var(--mainFontColor);
        margin-bottom: 20px;
      }
footer .row-grid .item span{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: calc(1vw + 1vh);
        gap: calc(1vw + 1vh);
        gap: calc(var(--index));
        justify-content: space-between;
      }
footer .row-grid .item span p{
          text-align: right;
          padding-right: calc(2vw + 2vh);
          padding-right: calc(2vw + 2vh);
          padding-right: calc(var(--index)*2);
        }
footer .row-grid .item a{
        -webkit-text-decoration: none;
        text-decoration: none;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #687186;
      }
footer .row-grid .item.item--socials .social-list{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          gap: calc(1vw + 1vh);
          gap: calc(1vw + 1vh);
          gap: calc(var(--index));
        }
footer .row-grid .item.item--socials .social-list a{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%, #E6EBF1 0%, rgba(230, 235, 241, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECF0F5;
          }
footer .row-grid .item.item--socials .social-list a svg{
              width: 80%;
              height: 50%;
              fill: var(--mainFontColor);
            }
footer .footer-copy{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
  }
footer .footer-copy .item,
    footer .footer-copy a{
      -webkit-text-decoration: none;
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: calc(1vw + 1vh);
      gap: calc(1vw + 1vh);
      gap: calc(var(--index));
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      text-align: right;
      color: #96A8BB;
    }
