.svg-arrow-dims {
    width: 28px;
    height: 28px;
}

.svg-arrow-popup-dims {
    width: 20px;
    height: 20px;
}

.svg-arrow-r-dims {
    width: 800px;
    height: 800px;
}

.svg-burger-ico-dims {
    width: 20px;
    height: 20px;
}

.svg-check-icon-dims {
    width: 36px;
    height: 36px;
}

.svg-close-ico-dims {
    width: 21px;
    height: 21px;
}

.svg-f-ico-dims {
    width: 800px;
    height: 800px;
}

.svg-home-shape-01-dims {
    width: 170px;
    height: 170px;
}

.svg-home-shape-02-dims {
    width: 165px;
    height: 330px;
}

.svg-inst-ico-dims {
    width: 800px;
    height: 800px;
}

.svg-linkedin-ico-dims {
    width: 800px;
    height: 800px;
}

.svg-nan-1-dims {
    width: 510px;
    height: 355px;
}

.svg-nan-2-dims {
    width: 510px;
    height: 355px;
}

.svg-nan-3-dims {
    width: 510px;
    height: 355px;
}

.svg-nan-full-dims {
    width: 510px;
    height: 355px;
}

.svg-patient-bg-dims {
    width: 540px;
    height: 800px;
}

.svg-phone-dark-dims {
    width: 800px;
    height: 800px;
}

.svg-search-dark-dims {
    width: 800px;
    height: 800px;
}

