*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
}
:root{
  --index: calc(1vw + 1vh);
}
::selection {
  background: #FFDFC7; /* Safari */
}
::-moz-selection {
  background: #FFDFC7; /* Firefox */


}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjg.woff) format("woff");
}
$size16: 16px;
$size42:calc( (100vw - 375px)/(1320 - 375) * (42 - 35) + 35px);
$size32: 32px;
$size17: 17px;
$size24: 24px;
$size16: 16px;
$size12: 12px;
$size13: 13px;
$size17: 17px;
$size11: 11px;
$size20: 20px;
$size22: 22px;

body{
  background: var(--mainBGColor);
  font-family: var(--mainFont);
}
html{
  overflow-x: hidden;
}
header{
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(39,44,63,.06);
  position: sticky;
  top: -81px;
  background: #fff;
  z-index: 5;
}
.header--top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e8ea;
  .burger-toggle{
    display: none;
    background: transparent;
    padding: 0;
    width: 20px;
    height: 20px;
    svg{
      width: 100%;
      height: 100%;
      fill: var(--mainFontColor);
      &.close{
        display: none;
      }
    }
  }
}
.header--logo{
  display: block;
}

.header--info{
  display: flex;
  gap: 30px;
  align-items: center;
}
.header--info a{
  text-decoration: none;
  font-family: var(--mainFont);
  color: var(--mainFontColor);
  transition: .75s all;
}
.header--info a:hover{
  color: var(--secondFontColor);
}

.header--info .info--socials{
  display: flex;
  align-items: center;
  gap: calc(var(--index) * .5);
}
.header--info .info--socials a{
  display: flex;
  width: 20px;
  height: 20px;
  transition: .75s all;
}
.header--info .info--socials a:hover svg{
  fill: var(--secondFontColor);
}
.header--info .info--socials a svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: var(--mainFontColor);
  transition: .75s all;
}

.header--info .info--search_btn{
  width: 25px;
  height: 25px;
  display: flex;
  padding: 0;
  margin: 0;
}
.header--info .info--search_btn:hover svg{
  stroke: var(--secondFontColor);
}
.header--info .info--search_btn svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  stroke: var(--mainFontColor);
  transition: .75s all;
}
.header--body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background: #fff;

}

  .header--menu{
    .burger--copy,
    .btn--default{
      display: none;
    }
    ul{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: calc(var(--index) * 1.2);
      li{
        list-style: none;
        padding: 20px 0;
        &:hover{
          a{
            color: var(--secondFontColor);
          }
        }
        &:hover{
          .menu--sub{
            transform: translate(-50% , 0%);
            opacity: 1;
            z-index: 5;
            overflow: visible;
            height: max-content;
            visibility: visible;
          }
          a{
            &:before{
              transform: scaleX(1);
            }
          }
        }
        a{
          text-decoration: none;
          font-family: var(--mainFont);
          color: var(--mainFontColor);
          font-weight: 500;
          font-size: $size16;
          transition: .75s all;
          position: relative;
          &:before{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background:var(--secondFontColor) ;
            top: calc(0 - 32px);
            position: absolute;
            transform: scaleX(0);
            transition: .3s all;
          }
          &.active{
            &:before{
              transform: scaleX(1);
            }
          }
        }

        .menu--sub{
          background: var(--layer5);
          padding: 40px 0 40px 0;
          margin: 20px auto 0 auto;
          position: absolute;
          width: 100vw;
          left: 50%;
          overflow: hidden;
          transform: translate(-50% , 0%);
          transition: .2s all;
          visibility: hidden;
          z-index: -500;
          height: 0;
          opacity: 0;
          display: flex;
          justify-content: space-between;
          .menu--sub_content{
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: start;
          }
          .menu--sub--list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-content: center;
            gap: calc(var(--index) * 2);
            li{
              padding: 0;
              a{
                display: flex;
                align-items: center;
                gap: calc(var(--index));
                color: rgba(255,255,255,.6);
                &:before{
                  display: none;
                }
                span{
                  color: #fff;
                }
                &:hover{
                  color: #fff;
                  span{
                    color: #fff;
                  }

                }
                img{
                  width: 50px;
                  height: 50px;
                  object-fit: contain;
                }
                .list--link_content{
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
          .menu--sub_info{
            display: flex;
            flex-direction: column;
            gap: calc(var(--index) * .3);
            img{
              width: 100%;
              border-radius: 5px;
              height: auto;
            }
            span{
              font-size: $size17;
              line-height: 1.4;
              font-family: var(--mainFont);
              font-weight: 500;
              color: #fff;

            }
            .sub_info--btn{
              background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
              color: var(--mainFontColor);
              background-color: #fff;
              background-position: 50% 100%;
              background-size: 0;
              transition-duration: .5s;
              transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
              padding: 0 25px;
              line-height: 40px;
              font-size: $size11;
              margin: 0;
              border: none;
              overflow: visible;
              transition: .2s ease-in-out;
              transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
              font-family: var(--mainFont);
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-style: normal;
              border-radius: 500px;
              background-origin: border-box;
              width: max-content;
              &:hover{
                background-size: 15000%;
                color: var(--mainFontColor);
                background-color: #fff;
                background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
              }
              &:before{
                display: none;
              }
            }
          }
        }
      }
    }
  }


.sub_info--btn{
  background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
  color: var(--mainFontColor);
  background-color: #fff;
  background-position: 50% 100%;
  background-size: 0;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
  padding: 0 25px;
  line-height: 40px;
  font-size: $size11;
  margin: 0;
  border: none;
  overflow: visible;
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  background-origin: border-box;
  width: max-content;
  &:hover{
    background-size: 15000%;
    color: var(--mainFontColor);
    background-color: #fff;
    background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
  }
}

.btn--default{
  background: var(--secondFontColor);
  color: #fff;
  width: max-content;
  padding: 0 30px;
  font-size: $size12;
  line-height: 48px;
  text-align: center;
  transition: .2s ease-in-out;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  background-origin: border-box;
  background-image: radial-gradient(circle at 50% 100%,var(--layer5) 1%,transparent 1%);
  transition-duration: .5s;
  background-size: 0;
  background-position: 50% 100%;
  &:hover{
    background-size: 15000%;
    background-position: 50% 100%;
    color: #fff;
  }
}

.banner_section{
  z-index: 0;
  position: relative;
  .banner_section--row{
    display: flex;
    flex-wrap: nowrap;
  }
  .banner_section--text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--index) * .8);
    padding: 0;
    position: relative;
    min-height: 500px;
    svg{
      position: absolute;
      width: 170px;
      top: 0;
      right: calc(0 - 10px);
      fill: var(--layer6);
    }
    span{
      font-family: var(--mainFont);
      color: var(--secondFontColor);
      text-transform: uppercase;
      font-size: $size13;
      line-height: 1.4;
      font-weight: 600;
      letter-spacing: 1px;
    }
    h1{
      line-height: 1.2;
      font-family: var(--mainFont);
      font-weight: 500;
      color: var(--mainFontColor);
      font-size: $size42;
      width: 300px
    }
  }
  .banner_section--img{
    padding: 0;
    img{
      max-width: calc(var(--index) * 45);
      width:  100%;
      height: calc(var(--index) * 24);
      object-fit: cover;

    }
  }
}
.section-title{
  font-size: $size32;
  font-family: var(--mainFont);
  font-weight: 500;
  color: var(--mainFontColor);
}
.section-description{
  margin-top: 20px;
  color: #687186;
  font-family: 'Open Sans',sans-serif;
  font-size: $size16;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.section--link{
  display: block;
  margin-top: 40px;
  line-height: 1.5;
  background: 0 0;
  color: var(--mainFontColor);
  position: relative;
  z-index: 0;
  border-radius: 0;
  font-family: var(--mainFont);
  font-weight: 600;
  text-decoration: none;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-size: $size12;
  position: relative;
  width: max-content;
  &:before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 100%;
    z-index: -1;
    border-bottom: 4px solid rgba(79,170,231,.8);
    transition: right .3s ease-out;
  }
  &:hover{
    &:before{
      right: 0;
    }
  }
}
.section-name{
  color: var(--secondFontColor);
  text-transform: uppercase;
  font-size: $size13;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 600;
  letter-spacing: 1px;
  font-style: normal;
  margin-bottom: 32px;
  display: block;
}
.section-btn{
  background-position: 50% 100%;
  background-size: 0;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
  color: #fff;
  background-color: var(--mainFontColor);
  padding: 0 35px;
  line-height: 56px;
  font-size:$size13;
  background-image: radial-gradient(circle at 50% 100%, var(--secondFontColor) 1%,transparent 1%);
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  transition-duration: .5s;
  margin-top: 70px;
  &:hover{
    background-size: 15000%;
    color: #fff;
  }
}
.services_section{
  position: relative;
  .services_section--row{
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 4px));
    .services_section--item{
      transition: .1s ease-in-out;
      transition-property: background-color,background-size;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 70px;
      box-sizing: border-box;
      text-decoration: none;
      background-position: 50% 100%;
      transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
      transition-duration: .5s;
      background-repeat: no-repeat;
      background-size: 0 0;
      background-image: radial-gradient(farthest-side at 50% 100%,#eff3f6 calc(100% - 1px),rgba(239,243,246,0) 100%);
      img{
        width: 68px;
        height: 68px;
      }
      h3{
        margin-top: 20px;
        font-size: $size24;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--mainFontColor)
      }
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          display: flex;
          align-items: center;
          gap: calc(var(--index) / 4);
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #687186;
          margin-bottom: 12px;
          &:before{
            content: '';
            display: block;
            background: #4faae7;
            border-radius: 50%;
            width: 5px;
            height: 5px;
          }
        }
      }
      .item--link{
        margin-top: 70px;
        padding: 0 30px;
        border-radius: 500px;
        width: max-content;
        font-size: $size12;
        line-height: 48px;
        display: block;
        background-position: 50% 100%;
        background-size: 0;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
        color: var(--mainFontColor);
        background-color: #ecf0f5;
        background-image: radial-gradient(circle at 50% 100%,#e6ebf1 1%,transparent 1%);
        svg{
          object-fit: contain;
          width: 28px;
          height: 28px;
          stroke: var(--mainFontColor);
          stroke-width:1 ;
        }
        &:hover{
          background-size: 15000%;
        }
      }
      &:nth-child(2n){
        background-color: #f6f8fa;
      }
      &:first-child{
        background: transparent;
        padding-left: 0;
        &:hover{
          background: transparent;
        }
      }
      &:hover{
        background-color: #f6f8fa;
        background-size: 150% 150%;
      }
    }

  }
  .banner_section--bg_layer{
    left: 0;
    width: 165px;
    height: 330px;
    margin-top: -140px;
    svg{
      width: 100%;
      height: 100%;
      fill: var(--secondFontColor);
    }
  }
}
.inner{
  .services_section{
    .services_section--row{
      .services_section--item{
        &:first-child{
          padding: 40px;

        }
        &:hover{
          background-color: transparent !important;
          background-size: 0 0;
        }
      }
    }
  }
}
.doctors_section{
  position: relative;
  padding-bottom: 140px;
  overflow-x: hidden;
  .doctors_section--row{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .doctors_section--img{
      img{
        max-width: 1270px;
      }
    }
  }

}

.about_section{
  padding-bottom: 140px;
  .about_section--top{
    margin-bottom: 70px;
  }
  .about--gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas:
    "first first second three"
    "first first four five";

    a{
      display: block;
      img{
        width: 100%;
        height: 100%;
      }

      &:first-child{
        grid-area: first;
      }
      &:nth-child(2){
        grid-area: second;
      }
      &:nth-child(3){
        grid-area: three;

      }
      &:nth-child(4){
        grid-area: four;
      }
      &:nth-child(5){
        grid-area: five;
      }
    }
  }
}

.patients_section{
  position: relative;
  padding-bottom: 100px;
  .patients_section--bg{
    position: absolute;
    left: 0;
    width: calc(var(--index) * 19);
    height: calc(var(--index) * 28);
    top: -40%;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  .patients--items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--index));
    justify-content: space-between;

    .item{
      display: flex;
      gap: calc(var(--index));
      .item--icon{
        background: #FEDF72;
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        border-radius: 50%;
        svg{
          width: 100%;
          height: 100%;
          stroke: var(--mainFontColor);
          fill: none;
        }
      }
      .item--info{
        .item--title{
          font-size: $size24;
          line-height: 1.4;
          font-family: var(--mainFont);
          font-weight: 500;
          color: var(--mainFontColor);
          margin-bottom: 20px;
        }
        .item--description{
          font-family: "Open Sans",sans-serif;
          font-size: $size16;
          line-height: 24px;
          text-decoration: none solid rgb(104, 113, 134);
          text-align: left;
          word-spacing: 0px;
          color: #687186;
        }
      }
    }
  }
}

.contacts_section{
  position: relative;
  .layers{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    svg{
      height: 100%;
      width: 100%;

    }
  }
  .contacts--content{
    margin-top: 70px;
    display: flex;

  }
  .contacts--items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--index));
    justify-content: space-between;
    .item{
      width: calc(50% + (var(--index) * 3));
      .item--title{
        font-family: var(--mainFont);
        font-size: $size20;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        word-spacing: 0px;
        color: var(--mainFontColor);
      }
      .item--description{
        margin-top: 20px;
        font-family: "Open Sans",sans-serif;
        font-size: $size16;
        line-height: 24px;
        text-align: left;
        word-spacing: 0px;
        color: #687186;
      }
      .item--link{
        font-size: $size16;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--secondFontColor);
        text-decoration: none;
      }
    }
  }
}


.image_section{
  background-repeat:no-repeat;
  background-size: cover;
  padding: 140px 0;
  box-sizing: border-box;
  margin-top: 100px;
  h3{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: $size42;
    line-height: 50px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  p{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: $size22;
    line-height: 33px;
    color: #FFFFFF;
  }
  a{
    height: 56px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 600;
    font-size: $size13;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--mainFontColor);
  }
}
footer{
  padding-top: 70px;
  padding-bottom: 40px;
  border-bottom: 5px solid var(--secondFontColor);
  .row-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--index));
    margin-bottom: 70px;
    &:last-child{
      margin-bottom: 0;
    }
    .item{
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: $size16;
      line-height: 24px;
      color: #687186;
      h5{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size16;
        line-height: 24px;
        color: var(--mainFontColor);
        margin-bottom: 20px;
      }
      span{
        display: flex;
        gap: calc(var(--index));
        justify-content: space-between;
        p{
          text-align: right;
          padding-right: calc(var(--index) * 2);
        }
      }
      a{
        text-decoration: none;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $size16;
        line-height: 24px;
        color: #687186;
      }
      &.item--socials{
        .social-list{
          display: flex;
          gap: calc(var(--index));
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%, #E6EBF1 0%, rgba(230, 235, 241, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECF0F5;
            svg{
              width: 80%;
              height: 50%;
              fill: var(--mainFontColor);
            }
          }
        }
      }
    }
  }
  .footer-copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    .item,
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: calc(var(--index));
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: $size13;
      line-height: 20px;
      text-align: right;
      color: #96A8BB;
    }
  }
}

.item--toggle_popup{
  width: 20px;
  height: 20px;
  mask: url("../imgs/icons/sprite.svg#arrow-popup");
  background:rgba(255,255,255,.6);
  display: none;
  transition: .3s all;

}

@media(max-width: 991px){
  .section-title{
    text-align: center;
    br{
      display: none;
    }
  }
  .section-description{
    text-align: center;
  }
  .section--link{
    margin: 40px auto 0 auto;
  }
  .section-name{
    text-align: center;
  }

  header{
    top: 0;
  }
  .banner_section{
    padding-top: 40px;
    .banner_section--row{
      flex-direction: column;
    }
    .banner_section--text{
      max-width: 100%;
      width: 100%;
      min-height: max-content;
      h1{
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      span{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      svg{
        display: none;
      }
    }
    .banner_section--img{
      width: 100%;
      max-width: 100%;
    }
  }
  .header--top{
    .header--info{
      gap: 15px;
      .info--socials{
        display: none;
      }
    }
    .burger-toggle{
      display: flex;
      align-items: center;
      &.active{
        svg{
          display: none;
        }
        svg.close{
         display: block;
          stroke: var(--mainFontColor);
          object-fit: contain;
        }
      }
    }

  }
  .header--body{
    padding: 0;
    .btn--default{
      display: none;
    }
    .header--menu{
      overflow: hidden;
      transition: .3s all;
      position: fixed;
      background: #2853B9;
      height: 100vh;
      top:80px;
      bottom: 0;
      width: 100%;
      left: 0;
      transform: translate(0%, -200%);
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      display: flex;
      flex-direction: column;
      &.active{
        transform: translate(0%, 0%);
        z-index: 5;
        overflow: visible;
      }

      ul{
        flex-direction: column;
        gap: 10px;

        li{
          width: 100%;
          border-top: 1px solid #e7e8ea;
          padding: 10px 0;
          position: relative;
          &.menu--item_children{
            .item--toggle_popup{
              display: block;
              position: absolute;
              right: calc(var(--bs-gutter-x) * .5);;
              top: calc(45px / 2);
              transform: translateY(-50%);
              &.active{
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
          &:hover{
            .menu--sub{
              display: none;
            }
          }
          &:first-child{
            border-top: transparent;
          }
          &.active{
            a{
              color: #fff;
            }

          }
          .menu--sub{
            display: none;
            padding: 5px 0 5px 15px;
            margin-top: 0;
            .menu--sub_content{
              max-width: 100%;

              .menu--sub--list{
                display: flex;
                flex-direction: column;
                gap: 1em;
                .menu--sub_item{
                  border: none;
                  a{
                    img{
                      display: none;
                    }
                    .list--link_content{
                      span{
                        font-size: $size16;
                        color: rgba(255,255,255,.6);
                      }
                      font-size: 0;
                    }
                  }
                }
              }
              .menu--sub_info{
                display: none;

              }
            }
          }
          &.menu--item_children--open{
            .menu--sub{
              display: flex;
            }
          }
          a{
            color: rgba(255,255,255,.6);

            &.active{
              color: #fff;
            }
            &:before{
              display: none;
            }
          }
        }
      }
      .btn--default{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
      }

      .burger--copy{
        display: block;
        margin: auto auto;
        ul{
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 20px;
          color: rgba(255,255,255,.6);
          li{
            border: none;
            width: max-content;

            a{
              font-size: $size13;
              font-family: 'Open Sans';
              color: rgba(255,255,255,.6);
            }
          }
        }
      }
    }
  }

  .services_section{
    .services_section--row{
      grid-template-columns: 1fr;
      .services_section--item{
        padding: 40px;
        justify-content: flex-start;
        align-items: flex-start;
        background: radial-gradient(50% 50% at 50% 50%, #EFF3F6 0%, rgba(239, 243, 246, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
        &:nth-child(2n - 1){

        }
      }
    }
  }

  .banner_section--bg_layer{
    display: none;
  }
  .banner_section{
    .banner_section--img{
      picture{
        display: block;
        width: 100%;
        img{
          max-width: 100%;
        }
      }
    }
  }
  .doctors_section{
    padding-top: 70px;
    .doctors_section--row{
      flex-direction: column;
      .doctors_section--info{
        max-width: 100%;
        width: 100%;
        .section-btn{
          margin: 40px auto 30px auto;
          display: block;
          width: max-content;
        }
      }
    }
    .doctors_section--img{
      max-width: 720px;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto;
      img{
        width: 100%;
      }
    }
  }

  .about_section{
    .about_section--top{
      .col-6{
        max-width: 100%;
        width: 100%;
        justify-content: center !important;
      }
    }
  }

  .patients_section{
    .patients_section--bg{
      top: 40px;
    }
    .patients--info,
    .patients--items{
      max-width: 100%;
      width: 100%;
    }
    .patients--info{
      margin-bottom: 40px;
    }
  }
  .contacts_section{
    .col-4{
      max-width: 100%;
      width: 100%;
    }
    .layers{
      display: none;
    }
    .btn--default{
      margin: 40px auto !important;
      display: block;
      width: max-content;
    }
    .contacts--content{
      .contants--map,
      .contacts--items{
        max-width: 100%;
        width: 100%;
      }
      .contacts--items{
        margin-top: 40px;
        .item{
          justify-content: flex-start !important;
        }
      }
    }
  }
  .image_section{
    .col-6{
      max-width: 100%;
      width: 100%;
    }
  }
  footer .row-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    .item{
      &:first-child{
        grid-area: 1/1/2/3;
        margin-bottom: 30px;
      }
    }
  }
  footer{
    .footer-copy{
      flex-direction: column;
      gap: 10px;
      .item{
        text-align: center;
      }
    }
  }
  .banner_section--inner{
    .banner_section--text{
      h1{
        margin-bottom: 20px;
      }
     .banner_section--description{
       margin-bottom: 20px;
       margin-top: 0;
     }
    }
  }

  .services_additional{
    margin-top: 140px;
  }
  .services_additional--list{
    grid-template-columns: repeat(2, 1fr);
  }
  .faq-wrapper{
    .faq-text,
    .faq-list{
      max-width: 100%;
      width: 100%;
    }
  }
  .services_additional--list{
    .services_additional--item{
      gap: calc(var(--index) * 3);
    }
  }

  .contact-info .contact-info--text{
    grid-template-columns: 1fr;
  }
  .steps .steps-list .steps-item{
    flex-direction: column;
    .steps-title,
    .steps-info{
      width: 100%;
    }
  }
  .inner .image_section svg{
    display: none;
  }
}

@media (max-width: 600px){
  .contact-list .contact-list--items{
    grid-template-columns: 1fr;
    .contact-item{
      width: 100%;
    }
  }
  .services_additional--list{
    grid-template-columns: 1fr;
  }
  .header--info{
    .info--phone{
      display: none;
    }
  }
  .banner_section{
    .banner_section--img,
    .banner_section--text{
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
    }
  }

  .about_section .about--gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: none;
    a{
      &:first-child{
        grid-area: 1 / 1 / 3 / 3;
      }
      &:nth-child(2){
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(3){
        grid-area: 3 / 2 / 4 / 3;
      }
      &:nth-child(4){
        grid-area: 4 / 1 / 5 / 2;
      }
      &:nth-child(5){
        grid-area: 4 / 2 / 5 / 3;
      }
    }
  }

  .patients_section .patients--items{
    grid-template-columns: 1fr;
    gap: 40px !important;
  }
  .patients_section .patients--items .item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .item--description{
      text-align: center !important;
    }
  }
}


.banner_section--inner{
  .banner_section--text{
    h1{
      width: 100%;
    }
    svg{
      fill: var(--colorItem);
    }
  }
}
.banner_section--description{
  margin-top: 20px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.services_additional{
  .section-name,
  .section-title{
    text-align: center;
  }
}
.services_additional--list{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--index) * 5);
  .services_additional--item{
    display: flex;
    gap: calc(var(--index) / 2);
      .item-icon{
        background: #FEDF72;
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        border-radius: 50%;
        svg{
          width: 100%;
          height: 100%;
          stroke: var(--mainFontColor);
          fill: none;
        }
      }
    .item--title{
      font-size: $size24;
      line-height: 1.4;
      font-family: var(--mainFont);
      font-weight: 500;
      color: var(--mainFontColor);
      margin-bottom: 20px;
    }
    .item--description{
      font-family: "Open Sans",sans-serif;
      font-size: $size16;
      line-height: 24px;
      text-decoration: none;
      -webkit-text-decoration: none solid rgb(104, 113, 134);
      text-decoration: none solid rgb(104, 113, 134);
      text-align: left;
      word-spacing: 0px;
      color: #687186;
    }
  }
}
.faq{
  margin-top: 140px;
}

.faq-list{
  .item--title{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: $size20;
    line-height: 28px;
    color: var(--mainFontColor);
    padding: 30px 0;
    border-bottom:  1px solid #e7e8ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    button{
      background: transparent;
      width: 40px;
      height: 40px;
      outline: none;
    }
    svg{
      width: 20px;
      height: 12px;
      fill: var(--secondFontColor);
    }
  }
  .faq-item{
    .item--info{
      transition: .3s all;
      visibility: hidden;
      display: none;
      margin-top: 20px;
      font-family: 'Open Sans';
      font-size: $size16;
      font-weight: 400;
      line-height: 1.5;
      -webkit-text-size-adjust: 100%;
      background: #fff;
      color: #687186;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }
    .item--title{
      button{
        transition: .3s all;
      }
    }
    &.active{
      .item--info{
        visibility: visible;
        display: block;
      }
      .item--title{
        button{
          transform: rotate(180deg);
        }
      }
    }
  }
}

.section-top{
  padding-top: 70px;
  padding-bottom: 70px;
  .section-name,
  .section-title,
  .section-description{
    text-align: center;
  }


}
.contact-list{
  .contact-list--items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--index) * 2);
  }
  .contact-item{
    display: flex;
    align-items: flex-start;
    gap: calc(var(--index));
    &:nth-child(2){
      .item-icon{
        background: rgb(254, 223, 114);
      }
    }
    &:nth-child(3){
      .item-icon{
        background: rgb(144, 223, 176);
      }
    }
    &:nth-child(4){
      .item-icon{
        background: rgb(79, 170, 231);
      }
    }
    .item-icon{
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
      background: rgb(246, 162, 177);
      position: relative;
      svg{
        position: absolute;
        right: -12px;
        height: 40px;
        fill: var(--mainFontColor);

        width: 40px;
        bottom: -10px;
      }
    }
    .item-text{
      .item-title{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size24;
        line-height: 34px;
        color: var(--mainFontColor);
        margin-bottom: 20px;
      }
      .item-description{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: $size16;
        line-height: 24px;
        color: #687186;
        a{
          text-decoration: none;
          color: #687186;
          &.item-mail{
            color: #4FAAE7;
            text-decoration: underline;
          }
        }
        .btn-mess{
          font-family: var(--mainFont);
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 40px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #1E3876;
          background: #ECF0F5;
          border-radius: 500px;
          padding: 0px 25px 0px 25px;
          width: max-content;
          margin-top: 20px;
        }
      }
    }
    &.contact-item--time{
      .item-icon{
        svg{
          stroke: var(--mainFontColor);
        }
      }
      .item-description{
        div{
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: left;
        }
      }
    }
    &.contact-item--mess{
      .item-icon{
        svg{
          stroke: var(--mainFontColor);
        }
      }
    }
  }
}

.contact-info{
  margin-bottom: 40px;
  margin-top:40px ;
  .contact-info--text{
    background: var(--layer5);
    padding: 70px 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--index) * 4);
    color: #FFFFFF;
    font-family: var(--mainFont);
    h2{
      font-family: var(--mainFont);
      font-style: normal;
      font-weight: 500;
      font-size: $size32;
      line-height: 42px;
      color: #FFFFFF;
    }
    h3{
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    a{
      font-size: 20px;
      text-decoration: none;
      color: #FFFFFF;
      margin-bottom: 20px;
      display: block;
    }
  }
}

section.map{
  margin-bottom: 70px;
}

.steps{
  .steps-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .steps-item{
      display: flex;
      .steps-title{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size24;
        line-height: 34px;
        color: #1E3876;
        width: calc((4 / 12) * 100%);
      }
      .steps-info{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #687186;
        width: calc((8 / 12) * 100%);
        ul{
          padding: 0;
          margin: 0 0 0 0;

          span{
            font-family: var(--mainFont);
            font-style: normal;
            font-weight: 500;
            font-size: $size20;
            line-height: 28px;
            color: var(--mainFontColor);
            margin-bottom: 20px;
            display: block;
          }
          li{
            list-style: none;

            svg{
              width: 20px;
              height: 20px;
            }
            a{
              text-decoration: none;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: var(--mainFontColor);
              padding-bottom: 10px;
              display: flex;
              align-items: center;
              gap: 15px;

            }
          }
        }
      }
    }
  }
}

.inner{
  .image_section{
    position: relative;
    svg{
      position: absolute;
      right: 40px;
      top: -22px;
    }
  }
}

@media(max-width: 1024px){
  .contact-list{
    .contact-list--items{
      grid-template-columns: repeat(2,1fr);
    }
  }

}