*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
}
button{
  outline: none;
}
:root{
  --index: calc(1vw + 1vh);
}
::selection {
  background: #FFDFC7; /* Safari */
}
::-moz-selection {
  background: #FFDFC7; /* Firefox */
}
html{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjg.woff) format("woff");
}
@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjg.woff) format("woff");
}
$size16: 16px;
$size42:calc( (100vw - 375px)/(1320 - 375) * (42 - 35) + 35px);
$size32: 32px;
$size17: 17px;
$size24: 24px;
$size16: 16px;
$size12: 12px;
$size13: 13px;
$size17: 17px;
$size11: 11px;
$size20: 20px;
$size22: 22px;

body{
  background: var(--mainBGColor);
  //font-family: var(--mainFont);
}
html{
  overflow-x: hidden;
}
header{
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(39,44,63,.06);
  position: sticky;
  top: -81px;
  background: #fff;
  z-index: 5;
}
.header--top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e8ea;
  .burger-toggle{
    display: none;
    background: transparent;
    padding: 0;
    width: 20px;
    height: 20px;
    svg{
      width: 100%;
      height: 100%;
      fill: var(--mainFontColor);
      &.close{
        display: none;
      }
    }
  }
}
.header--logo{
  display: block;
}

.header--info{
  display: flex;
  gap: 30px;
  align-items: center;
}
.header--info a{
  text-decoration: none;
  font-family: var(--mainFont);
  color: var(--mainFontColor);
  transition: .75s all;
}
.header--info a:hover{
  color: var(--secondFontColor);
}

.header--info .info--socials{
  display: flex;
  align-items: center;
  gap: calc(var(--index) * .5);
}
.header--info .info--socials a{
  display: flex;
  width: 20px;
  height: 20px;
  transition: .75s all;
}
.header--info .info--socials a:hover svg{
  fill: var(--secondFontColor);
}
.header--info .info--socials a svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  fill: var(--mainFontColor);
  transition: .75s all;
}

.header--info .info--search_btn{
  width: 25px;
  height: 25px;
  display: flex;
  padding: 0;
  margin: 0;
}
.header--info .info--search_btn:hover svg{
  stroke: var(--secondFontColor);
}
.header--info .info--search_btn svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  stroke: var(--mainFontColor);
  transition: .75s all;
}
.header--body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background: #fff;

}

  .header--menu{
    .burger--copy,
    .btn--default{
      display: none;
    }
    ul{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: calc(var(--index) * 1.2);
      li{
        list-style: none;
        padding: 20px 0;
        &:hover{
          a{
            color: var(--secondFontColor);
          }
        }
        &:hover{
          .menu--sub{
            transform: translate(-50% , 0%);
            opacity: 1;
            z-index: 5;
            overflow: visible;
            height: max-content;
            visibility: visible;
          }
          a{
            &:before{
              transform: scaleX(1);
            }
          }
        }
        a{
          text-decoration: none;
          font-family: var(--mainFont);
          color: var(--mainFontColor);
          font-weight: 500;
          font-size: $size16;
          transition: .75s all;
          position: relative;
          &:before{
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background:var(--secondFontColor) ;
            top: calc(0 - 32px);
            position: absolute;
            transform: scaleX(0);
            transition: .3s all;
          }
          &.active{
            &:before{
              transform: scaleX(1);
            }
          }
        }

        .menu--sub{
          background: var(--layer5);
          padding: 40px 0 40px 0;
          margin: 20px auto 0 auto;
          position: absolute;
          width: 100vw;
          left: 50%;
          overflow: hidden;
          transform: translate(-50% , 0%);
          transition: .2s all;
          visibility: hidden;
          z-index: -500;
          height: 0;
          opacity: 0;
          display: flex;
          justify-content: space-between;
          .menu--sub_content{
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: start;
          }
          .menu--sub--list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-content: center;
            gap: calc(var(--index) * 2);
            li{
              padding: 0;
              a{
                display: flex;
                align-items: center;
                gap: calc(var(--index));
                color: rgba(255,255,255,.6);
                &:before{
                  display: none;
                }
                span{
                  color: #fff;
                }
                &:hover{
                  color: #fff;
                  span{
                    color: #fff;
                  }

                }
                img{
                  width: 50px;
                  height: 50px;
                  object-fit: contain;
                }
                .list--link_content{
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
          .menu--sub_info{
            display: flex;
            flex-direction: column;
            gap: calc(var(--index) * .3);
            img{
              width: 100%;
              border-radius: 5px;
              height: auto;
            }
            span{
              font-size: $size17;
              line-height: 1.4;
              font-family: var(--mainFont);
              font-weight: 500;
              color: #fff;

            }
            .sub_info--btn{
              background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
              color: var(--mainFontColor);
              background-color: #fff;
              background-position: 50% 100%;
              background-size: 0;
              transition-duration: .5s;
              transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
              padding: 0 25px;
              line-height: 40px;
              font-size: $size11;
              margin: 0;
              border: none;
              overflow: visible;
              transition: .2s ease-in-out;
              transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
              font-family: var(--mainFont);
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
              font-style: normal;
              border-radius: 500px;
              background-origin: border-box;
              width: max-content;
              &:hover{
                background-size: 15000%;
                color: var(--mainFontColor);
                background-color: #fff;
                background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
              }
              &:before{
                display: none;
              }
            }
          }
        }
      }
    }
  }


.sub_info--btn{
  background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
  color: var(--mainFontColor);
  background-color: #fff;
  background-position: 50% 100%;
  background-size: 0;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
  padding: 0 25px;
  line-height: 40px;
  font-size: $size11;
  margin: 0;
  border: none;
  overflow: visible;
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  background-origin: border-box;
  width: max-content;
  &:hover{
    background-size: 15000%;
    color: var(--mainFontColor);
    background-color: #fff;
    background-image: radial-gradient(circle at 50% 100%,#f2f2f2 1%,transparent 1%);
  }
}

.btn--default{
  background: var(--secondFontColor);
  color: #fff;
  width: max-content;
  padding: 0 30px;
  font-size: $size12;
  line-height: 48px;
  text-align: center;
  transition: .2s ease-in-out;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  background-origin: border-box;
  background-image: radial-gradient(circle at 50% 100%,var(--layer5) 1%,transparent 1%);
  transition-duration: .5s;
  background-size: 0;
  background-position: 50% 100%;
  &:hover{
    background-size: 15000%;
    background-position: 50% 100%;
    color: #fff;
  }
}

.banner_section{
  z-index: 0;
  position: relative;
  .banner_section--row{
    display: flex;
    flex-wrap: nowrap;
  }
  .banner_section--text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--index) * .8);
    padding: 0;
    position: relative;
    min-height: 500px;
    svg{
      position: absolute;
      width: 170px;
      top: 0;
      right: calc(0 - 10px);
      fill: var(--layer6);
    }
    span{
      font-family: var(--mainFont);
      color: var(--secondFontColor);
      text-transform: uppercase;
      font-size: $size13;
      line-height: 1.4;
      font-weight: 600;
      letter-spacing: 1px;
    }
    h1{
      line-height: 1.2;
      font-family: var(--mainFont);
      font-weight: 500;
      color: var(--mainFontColor);
      font-size: $size42;
      width: 300px
    }
  }
  .banner_section--img{
    padding: 0;
    img{
      max-width: calc(var(--index) * 45);
      width:  100%;
      height: calc(var(--index) * 24);
      max-height: 700px;
      object-fit: cover;

    }
  }
}
.section-title{
  font-size: $size32;
  font-family: var(--mainFont);
  font-weight: 500;
  color: var(--mainFontColor);
}
.section-description{
  margin-top: 20px;
  color: #687186;
  font-family: 'Open Sans',sans-serif;
  font-size: $size16;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.section--link{
  display: block;
  margin-top: 40px;
  line-height: 1.5;
  background: 0 0;
  color: var(--mainFontColor);
  position: relative;
  z-index: 0;
  border-radius: 0;
  font-family: var(--mainFont);
  font-weight: 600;
  text-decoration: none;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  font-size: $size12;
  position: relative;
  width: max-content;
  &:before{
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 100%;
    z-index: -1;
    border-bottom: 4px solid rgba(79,170,231,.8);
    transition: right .3s ease-out;
  }
  &:hover{
    &:before{
      right: 0;
    }
  }
}
.section-name{
  color: var(--secondFontColor);
  text-transform: uppercase;
  font-size: $size13;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 600;
  letter-spacing: 1px;
  font-style: normal;
  margin-bottom: 32px;
  display: block;
}
.section-btn{
  background-position: 50% 100%;
  background-size: 0;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
  color: #fff;
  background-color: var(--mainFontColor);
  padding: 0 35px;
  line-height: 56px;
  font-size:$size13;
  background-image: radial-gradient(circle at 50% 100%, var(--secondFontColor) 1%,transparent 1%);
  transition: .2s ease-in-out;
  transition-property: color,background-color,background-position,background-size,border-color,box-shadow;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  border-radius: 500px;
  transition-duration: .5s;
  margin-top: 70px;
  &:hover{
    background-size: 15000%;
    color: #fff;
  }
}
.services_section{
  position: relative;
  .services_section--row{
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 4px));
    .services_section--item{
      transition: .1s ease-in-out;
      transition-property: background-color,background-size;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 70px;
      box-sizing: border-box;
      text-decoration: none;
      background-position: 50% 100%;
      transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
      transition-duration: .5s;
      background-repeat: no-repeat;
      background-size: 0 0;
      background-image: radial-gradient(farthest-side at 50% 100%,#eff3f6 calc(100% - 1px),rgba(239,243,246,0) 100%);
      img{
        width: 68px;
        height: 68px;
      }
      h3{
        margin-top: 20px;
        font-size: $size24;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--mainFontColor)
      }
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          display: flex;
          align-items: center;
          gap: calc(var(--index) / 4);
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: $size16;
          line-height: 24px;
          color: #687186;
          margin-bottom: 12px;
          &:before{
            content: '';
            display: block;
            background: #4faae7;
            border-radius: 50%;
            width: 5px;
            height: 5px;
          }
        }
      }
      .item--link{
        margin-top: 70px;
        padding: 0 30px;
        border-radius: 500px;
        width: max-content;
        font-size: $size12;
        line-height: 48px;
        display: block;
        background-position: 50% 100%;
        background-size: 0;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
        color: var(--mainFontColor);
        background-color: #ecf0f5;
        background-image: radial-gradient(circle at 50% 100%,#e6ebf1 1%,transparent 1%);
        svg{
          object-fit: contain;
          width: 28px;
          height: 28px;
          stroke: var(--mainFontColor);
          stroke-width:1 ;
        }
        &:hover{
          background-size: 15000%;
        }
      }
      &:nth-child(2n){
        background-color: #f6f8fa;
      }
      &:first-child{
        background: transparent;
        padding-left: 0;
        &:hover{
          background: transparent;
        }
      }
      &:hover{
        background-color: #f6f8fa;
        background-size: 150% 150%;
      }
    }

  }
  .banner_section--bg_layer{
    left: 0;
    width: 165px;
    height: 330px;
    margin-top: -140px;
    svg{
      width: 100%;
      height: 100%;
      fill: var(--secondFontColor);
    }
  }
}
.inner{
  .services_section{
    .services_section--row{
      .services_section--item{
        &:first-child{
          padding: 40px;

        }
        &:hover{
          background-color: transparent !important;
          background-size: 0 0;
        }
      }
    }
  }
}
.doctors_section{
  position: relative;
  padding-bottom: 140px;
  overflow-x: hidden;
  .doctors_section--row{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .doctors_section--img{
      img{
        max-width: 1270px;
      }
    }
  }

}

.about_section{
  padding-bottom: 140px;
  .about_section--top{
    margin-bottom: 70px;
  }
  .about--gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas:
    "first first second three"
    "first first four five";

    a{
      display: block;
      img{
        width: 100%;
        height: 100%;
      }

      &:first-child{
        grid-area: first;
      }
      &:nth-child(2){
        grid-area: second;
      }
      &:nth-child(3){
        grid-area: three;

      }
      &:nth-child(4){
        grid-area: four;
      }
      &:nth-child(5){
        grid-area: five;
      }
    }
  }
}

.patients_section{
  position: relative;
  padding-bottom: 100px;
  .patients_section--bg{
    position: absolute;
    left: 0;
    width: calc(var(--index) * 19);
    height: calc(var(--index) * 28);
    top: -40%;
    svg{
      width: 100%;
      height: 100%;
    }
  }

}
.patients--items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--index));
  justify-content: space-between;

  .item{
    display: flex;
    gap: calc(var(--index));
    .item--icon{
      background: #FEDF72;
      min-width: 36px;
      max-width: 36px;
      height: 36px;
      border-radius: 50%;
      svg{
        width: 100%;
        height: 100%;
        stroke: var(--mainFontColor);
        fill: none;
      }
    }
    .item--info{
      .item--title{
        font-size: $size24;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--mainFontColor);
        margin-bottom: 20px;
      }
      .item--description{
        font-family: "Open Sans",sans-serif;
        font-size: $size16;
        line-height: 24px;
        text-decoration: none solid rgb(104, 113, 134);
        text-align: left;
        word-spacing: 0px;
        color: #687186;
      }
    }
  }
}
.contacts_section{
  position: relative;
  .layers{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    svg{
      height: 100%;
      width: 100%;

    }
  }
  .contacts--content{
    margin-top: 70px;
    display: flex;

  }
  .contacts--items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--index));
    justify-content: space-between;
    .item{
      width: calc(50% + (var(--index) * 3));
      .item--title{
        font-family: var(--mainFont);
        font-size: $size20;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        word-spacing: 0px;
        color: var(--mainFontColor);
      }
      .item--description{
        margin-top: 20px;
        font-family: "Open Sans",sans-serif;
        font-size: $size16;
        line-height: 24px;
        text-align: left;
        word-spacing: 0px;
        color: #687186;
      }
      .item--link{
        font-size: $size16;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--secondFontColor);
        text-decoration: none;
      }
    }
  }
}


.image_section{
  background-repeat:no-repeat;
  background-size: cover;
  padding: 140px 0;
  box-sizing: border-box;
  margin-top: 100px;
  h3{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: $size42;
    line-height: 50px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  p{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: $size22;
    line-height: 33px;
    color: #FFFFFF;
  }
  a{
    height: 56px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 600;
    font-size: $size13;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--mainFontColor);
  }
}
footer{
  padding-top: 70px;
  padding-bottom: 40px;
  border-bottom: 5px solid var(--secondFontColor);
  .row-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--index));
    margin-bottom: 70px;
    &:last-child{
      margin-bottom: 0;
    }
    .item{
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: $size16;
      line-height: 24px;
      color: #687186;
      h5{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size16;
        line-height: 24px;
        color: var(--mainFontColor);
        margin-bottom: 20px;
      }
      span{
        display: flex;
        gap: calc(var(--index));
        justify-content: space-between;
        p{
          text-align: right;
          padding-right: calc(var(--index) * 2);
        }
      }
      a{
        text-decoration: none;
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $size16;
        line-height: 24px;
        color: #687186;
      }
      &.item--socials{
        .social-list{
          display: flex;
          gap: calc(var(--index));
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background: radial-gradient(50% 50% at 50% 50%, #E6EBF1 0%, rgba(230, 235, 241, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #ECF0F5;
            svg{
              width: 80%;
              height: 50%;
              fill: var(--mainFontColor);
            }
          }
        }
      }
    }
  }
  .footer-copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    .item,
    a{
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: calc(var(--index));
      font-family: 'Open Sans',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: $size13;
      line-height: 20px;
      text-align: right;
      color: #96A8BB;
    }
  }
}

.item--toggle_popup{
  width: 20px;
  height: 20px;
  mask: url("../imgs/icons/sprite.svg#arrow-popup");
  background:rgba(255,255,255,.6);
  display: none;
  transition: .3s all;

}






.banner_section--inner{
  .banner_section--text{
    h1{
      width: 100%;
    }
    svg{
      fill: var(--colorItem);
    }
  }
}
.banner_section--description{
  margin-top: 20px;
  font-family: 'Open Sans';
  font-size: $size16;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.services_additional{
  .section-name,
  .section-title{
    text-align: center;
  }
}
.services_additional--list{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--index) * 5);
  .services_additional--item{
    display: flex;
    gap: calc(var(--index) / 2);
      .item-icon{
        background: #FEDF72;
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        border-radius: 50%;
        svg{
          width: 100%;
          height: 100%;
          stroke: var(--mainFontColor);
          fill: none;
        }
      }
    .item--title{
      font-size: $size24;
      line-height: 1.4;
      font-family: var(--mainFont);
      font-weight: 500;
      color: var(--mainFontColor);
      margin-bottom: 20px;
    }
    .item--description{
      font-family: "Open Sans",sans-serif;
      font-size: $size16;
      line-height: 24px;
      text-decoration: none;
      -webkit-text-decoration: none solid rgb(104, 113, 134);
      text-decoration: none solid rgb(104, 113, 134);
      text-align: left;
      word-spacing: 0px;
      color: #687186;
    }
  }
}
.faq{
  margin-top: 140px;
}

.faq-list{
  .item--title{
    font-family: var(--mainFont);
    font-style: normal;
    font-weight: 500;
    font-size: $size20;
    line-height: 28px;
    color: var(--mainFontColor);
    padding: 30px 0;
    border-bottom:  1px solid #e7e8ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    button{
      background: transparent;
      width: 40px;
      height: 40px;
      outline: none;
    }
    svg{
      width: 20px;
      height: 12px;
      fill: var(--secondFontColor);
    }
  }
  .faq-item{
    .item--info{
      transition: .3s all;
      visibility: hidden;
      display: none;
      margin-top: 20px;
      font-family: 'Open Sans';
      font-size: $size16;
      font-weight: 400;
      line-height: 1.5;
      -webkit-text-size-adjust: 100%;
      background: #fff;
      color: #687186;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }
    .item--title{
      button{
        transition: .3s all;
      }
    }
    &.active{
      .item--info{
        visibility: visible;
        display: block;
      }
      .item--title{
        button{
          transform: rotate(180deg);
        }
      }
    }
  }
}

.section-top{
  padding-top: 70px;
  padding-bottom: 70px;
  .section-name,
  .section-title,
  .section-description{
    text-align: center;
  }


}
.contact-list{
  .contact-list--items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--index) * 2);
  }
  .contact-item{
    display: flex;
    align-items: flex-start;
    gap: calc(var(--index));
    &:nth-child(2){
      .item-icon{
        background: rgb(254, 223, 114);
      }
    }
    &:nth-child(3){
      .item-icon{
        background: rgb(144, 223, 176);
      }
    }
    &:nth-child(4){
      .item-icon{
        background: rgb(79, 170, 231);
      }
    }
    .item-icon{
      width: 40px;
      height: 40px;
      min-width: 40px;
      border-radius: 50%;
      background: rgb(246, 162, 177);
      position: relative;
      svg{
        position: absolute;
        right: -12px;
        height: 40px;
        fill: var(--mainFontColor);

        width: 40px;
        bottom: -10px;
      }
    }
    .item-text{
      .item-title{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size24;
        line-height: 34px;
        color: var(--mainFontColor);
        margin-bottom: 20px;
      }
      .item-description{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: $size16;
        line-height: 24px;
        color: #687186;
        a{
          text-decoration: none;
          color: #687186;
          &.item-mail{
            color: #4FAAE7;
            text-decoration: underline;
          }
        }
        .btn-mess{
          font-family: var(--mainFont);
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 40px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: var(--mainFontColor);
          background: #ECF0F5;
          border-radius: 500px;
          padding: 0px 25px 0px 25px;
          width: max-content;
          margin-top: 20px;
        }
      }
    }
    &.contact-item--time{
      .item-icon{
        svg{
          stroke: var(--mainFontColor);
        }
      }
      .item-description{
        div{
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-align: left;
        }
      }
    }
    &.contact-item--mess{
      .item-icon{
        svg{
          stroke: var(--mainFontColor);
        }
      }
    }
  }
}

.contact-info{
  margin-bottom: 40px;
  margin-top:40px ;
  .contact-info--text{
    background: var(--layer5);
    padding: 70px 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--index) * 4);
    color: #FFFFFF;
    font-family: var(--mainFont);
    h2{
      font-family: var(--mainFont);
      font-style: normal;
      font-weight: 500;
      font-size: $size32;
      line-height: 42px;
      color: #FFFFFF;
    }
    h3{
      font-size: $size13;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    a{
      font-size: 20px;
      text-decoration: none;
      color: #FFFFFF;
      margin-bottom: 20px;
      display: block;
    }
  }
}

section.map{
  margin-bottom: 70px;
}

.steps{
  .steps-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .steps-item{
      display: flex;
      .steps-title{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size24;
        line-height: 34px;
        color: var(--mainFontColor);
        width: calc((4 / 12) * 100%);
      }
      .steps-info{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: $size16;
        line-height: 24px;
        color: #687186;
        width: calc((8 / 12) * 100%);
        ul{
          padding: 0;
          margin: 0 0 0 0;

          span{
            font-family: var(--mainFont);
            font-style: normal;
            font-weight: 500;
            font-size: $size20;
            line-height: 28px;
            color: var(--mainFontColor);
            margin-bottom: 20px;
            display: block;
          }
          li{
            list-style: none;

            svg{
              width: 20px;
              height: 20px;
            }
            a{
              text-decoration: none;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: $size16;
              line-height: 24px;
              color: var(--mainFontColor);
              padding-bottom: 10px;
              display: flex;
              align-items: center;
              gap: 15px;

            }
          }
        }
      }
    }
  }
}

.inner{
  .image_section{
    position: relative;
    svg{
      position: absolute;
      right: 40px;
      top: -22px;
    }
  }
}



.team_section{
  margin-top: 140px;
  .team--list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: calc(var(--index));
    a{
      text-decoration: none;
    }
    .team--item{
      display: flex;
      flex-direction: column;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: $size13;
      line-height: 18px;
      color: #96A8BB;
      picture{
        margin-bottom: calc(var(--index) / 2);
        img{
          width: 100%;
        }
      }
      h4{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size20;
        line-height: 28px;
        color: var(--mainFontColor);
        margin-bottom: 0;
      }
      span{

      }
    }
  }
}

.inner{
  .about_section{
    margin-top: 140px;
  }
}

.gallery_section{
  margin-top: 140px;
}
.gallery--slider{
  position: relative;
}
.gallery-big{
  height: 790px;
}
.gallery-big--arrows{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  button{
    border: none;
    outline: none;
    width: 40px;
    mask: url("../imgs/icons/sprite.svg#arrow-popup")center no-repeat;
    background:#000;
    &.gallery-big--prev{
      transform: rotate(-90deg);
    }
    &.gallery-big--next{
      transform: rotate(90deg);
    }
  }
}


.gallery--slider--dots{
  height: 70px;
  max-width: calc((115px * 5) + 30px);
  margin: 15px auto 0 auto;
  .slider--dots{
    div{

    }
    img{
      width: 100%;
      height: 70px;
    }
    .tns-item{
      border: 4px solid transparent;
      &.active-dot{
        border: 4px solid #F6A2B1;
      }
    }
  }
}


.career_section{
  margin-top: 140px;
}

.career--list{
  .career--item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--index));
    border-bottom: 1px solid #E7E8EA;
    padding: 40px 0;
    .btn{
      margin: 0;
    }
    .item--title{
      font-family: var(--mainFont);
      font-style: normal;
      font-weight: 500;
      font-size: $size24;
      line-height: 34px;
      color: var(--mainFontColor);
      margin: 0;

    }
    .item-description{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: $size16;
      line-height: 24px;
      color: #687186;

    }
  }
}

.blog_section{
  margin-top: 140px;
}

.blog-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  .blog-item{
    text-decoration: none;
    display: flex;
    flex-direction: column;

    picture{
      height: 265px;
      width: 100%;
      img{
        width: 100%;
      }
    }
    .blog-text{
      padding: 40px;
      box-sizing: border-box;
      .blog-date{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 600;
        font-size: $size13;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #F6A2B1;

      }
      .blog-title{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size20;
        line-height: 28px;
        color: var(--mainFontColor);
        margin-bottom: 40px;
      }
      .blog--link{
        padding: 0 30px;
        border-radius: 500px;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        font-size: 12px;
        line-height: 48px;
        display: block;
        background-position: 50% 100%;
        background-size: 0;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
        color: var(--mainFontColor);
        background-color: #ecf0f5;
        background-image: radial-gradient(circle at 50% 100%,#e6ebf1 1%,transparent 1%);
        svg{
          object-fit: contain;
          width: 28px;
          height: 28px;
          stroke: var(--mainFontColor);
          stroke-width: 1;
        }
        &:hover{
          background-size: 15000%;
        }
      }
    }
    &:nth-child(2){
      background: #F6F8FA;
    }
  }
}


.blog-banner{
  padding: 110px 0;
  position: relative;
  margin-top: 40px;
  &:before{
    content: '';
    display: block;
    width: 100%;
    max-width: 600px;
    height: 480px;
    position: absolute;
    left: 0;
    top: calc(50% + 40px);
    background: url("../imgs/blog-left.png") center/cover no-repeat;
    transform: translate(-50%, -50%);
  }
  &:after{
    content: '';
    display: block;
    width: 100%;
    max-width: 600px;
    height: 480px;
    position: absolute;
    right: 0;
    top: calc(50% + 40px);
    background: url("../imgs/blog-right.png") center/cover no-repeat;
    transform: translate(50%, -50%);
  }
  .search-form{
    margin: 40px auto 0 auto;
    width: max-content;
    input[type="text"]{
      border: 2px solid #E7E8EA;
      border-radius: 500px;
      padding: 0px 17px;
      height: 48px;
      box-sizing: border-box;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: $size16;
      line-height: 22px;
      color: #96A8BB;
      margin-right: 15px;
    }
    input[type='submit']{
      background: #ECF0F5;
      border-radius: 500px;
      height: 48px;
      font-family: var(--mainFont);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 48px;

      letter-spacing: 1px;
      padding: 0 30px;
      text-transform: uppercase;
      color: var(--mainFontColor);
    }
  }
}


.doctor-banner{
  padding-top: 140px;
  padding-bottom: 140px;
}

.doctor-photo{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  &:before{
    content: '';
    display: block;
    width: 388px;
    height: 100%;
    position: absolute;
    left: 0;
    background: url("../imgs/doctor-left.svg") center/contain no-repeat;
  }
  &:after{
    content: '';
    display: block;
    width: 388px;
    height: 100%;
    position: absolute;
    right: 0;
    background: url("../imgs/doctor-right.svg") center/contain no-repeat;
  }
}

.doctor-description{
  column-count: 2;
  font-family: 'Open Sans';
  font-size: $size16;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 70px auto 0 auto;
  width: calc(80%);
}
.doctor-specialties{
  padding-bottom: 140px;
}
.specialties-list{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  gap: 15px;
  width: 80%;
  margin: 40px auto 0 auto;
  .specialties-item{

    display: flex;
    padding: 20px 20px;
    align-items: center;
    gap: 30px;
    background-color: #f6f8fa;
    position: relative;
    box-sizing: border-box;
    transition: .1s ease-in-out;
    transition-property: color,background-color,background-size,border-color,box-shadow;
    background-position: 50% 100%;
    background-size: 0 0;
    background-repeat: no-repeat;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
    .name{
      font-family: var(--mainFont);
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: var(--mainFontColor);
    }
    .icon{
      width: 68px;
      height: 68px;
      img{
        width: 100%;
      }
    }
  }
}

.doctor-experience{
  padding-bottom: 140px;
  position: relative;
  &:before{
    content: '';
    display: block;
    background: url("../imgs/specialites-left.svg")center/cover no-repeat;
    width: 240px;
    height: 360px;
    position: absolute;
    left: 0;
  }
  &:after{
    content: '';
    display: block;
    background: url("../imgs/specialites-right.svg")center/cover no-repeat;
    width: 260px;
    height: 260px;
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    top:50%;
  }
  .experience-list{
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 140px;
    .experience-item{
      .item-name{
        font-family: var(--mainFont);
        font-style: normal;
        font-weight: 500;
        font-size: $size24;
        line-height: 34px;
        color: var(--mainFontColor);
      }
      .item-list{

        ul{
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
          li{
            list-style: none;
            span{
              display: block;
              font-family: var(--mainFont);
              font-style: normal;
              font-weight: 600;
              font-size: $size13;
              line-height: 18px;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: var(--mainFontColor);
            }
            font-family: 'Open Sans',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: $size16;
            line-height: 24px;
            color: #687186;
          }
        }
        .certificates-list{
          display: flex;
          gap: 50px;
          align-items: center;
          flex-wrap: wrap;
          a{
            display: block;
            width: 115px;
            height: 60px;
            img{
              width: 100%;
            }
          }
        }
        .time-list{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          justify-content: space-between;
          margin-bottom: 20px;
          .item{
            .name{
              font-family: var(--mainFont);
              font-style: normal;
              font-weight: 600;
              font-size: $size13;
              line-height: 18px;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: var(--mainFontColor);
            }
            font-family: 'Open Sans',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: $size16;
            line-height: 24px;
            color: #687186;
          }
        }
        .description{
          font-family: 'Open Sans',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: $size13;
          line-height: 18px;
          color: #96A8BB;
        }
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: $size16;
        line-height: 24px;
        color: #687186;
      }

    }
  }
}


.doctors-list--main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  .list-item{
    display: flex;
    background-color: #f6f8fa;
    height: 346px;
    text-decoration: none;
    .item-photo{
      max-width: 264px;
      width: 100%;
      height: 346px;
      img{
        width: 100%;
      }
    }
    .item-content{
      padding: 40px;
      position: relative;
      .item-name{
        font-size: $size24;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--mainFontColor);
      }
      .item--description{
        color: var(--secondFontColor);
        font-size: $size13;
        text-transform: uppercase;
        font-width: 600;
        line-height: 1.4;
        font-family: var(--mainFont);
        letter-spacing: 1px;
      }
      .item--link{
        margin-top: calc(100%);
        transform: translateY(-100%);
        padding: 0 30px;
        border-radius: 500px;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
        font-size: 12px;
        line-height: 48px;
        display: block;
        background-position: 50% 100%;
        background-size: 0;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0.165,0.85,0.45,1);
        color: var(--mainFontColor);
        background-color: #ecf0f5;
        background-image: radial-gradient(circle at 50% 100%,#e6ebf1 1%,transparent 1%);
        svg{
          object-fit: contain;
          width: 28px;
          height: 28px;
          stroke: var(--mainFontColor);
          stroke-width: 1;
        }
      }

    }
  }
}
.rewards{
  padding-top: 140px;
  padding-bottom: 140px;
}
.rewards-content{

}
.rewards--list{
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  img{
    max-width: 115px;
    width: 100%;
    height: 60px;
    object-fit: contain;
  }
}
.blog-top{
  padding-top: 70px;
  position: relative;
  &:before{
    content: '';
    display: block;
    background: url("../imgs/blog_detail-bg.svg") center/contain no-repeat;
    position: absolute;
    width: calc(var(--index) * 15);
    height:calc(var(--index) * 17);
    top: 0;
  }
}
.section-data{
  color: #f6a2b1;
  font-size: $size13;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.blog-content{
  margin-top: 70px;
  color: #687186;
  font-family: 'Open Sans',sans-serif;
  font-size: $size16;
  line-height: 24px;
  img{
    width: 100%;
    margin-bottom: 20px;
    display: block;
    height: calc(var(--index) * 20);
    object-fit: cover;
  }
  h2{
    font-size: 24px;
    line-height: 1.4;
    font-family: var(--mainFont);
    font-weight: 500;
    margin-top: 60px;
    color: var(--mainFontColor);
  }
}
.section-blog_author{
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  &:before{
    content: '';
    width: 240px;
    height: 360px;
    background: url("../imgs/autor-left.svg")center/cover no-repeat;
    position: absolute;
    left: 0;
    top:0;
    transform: translateY(50%);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    background: url("../imgs/author-right.svg")center/cover no-repeat;
    width: 400px;
    height: 410px;
    top:0;
    transform: translateY(50%);
  }
}
.author-img{
  border-radius: 50%;
  width: 145px;
  height: 145px;
  img{
    border-radius: 50%;
    object-fit: cover;
    width: 145px;
    height: 145px;
  }
}
.author-title{
  color: var(--secondFontColor);
  margin-top: 40px;
  font-size: $size13;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
}
.author-name{
  margin-top: 20px;
  font-size: $size24;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 500;
  color: var(--mainFontColor);
}
.author-description{
  margin-top: 20px;
}

.server-top{
  position: relative;
  padding-top: 70px;
  padding-bottom: 200px;
  .top-icon{
    margin-top: 140px;
  }
  &:before{
    content: '';
    display: block;

  }
  &:after{

  }
}

.server-detail-left{
  background: url("../imgs/server-detail-left.svg")center/contain no-repeat;
  width: 500px;
  height: 425px;
  position: absolute;
  left: 0;
  img{
    width: 224px;
    height: 212px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    right: 20px;
    top: calc(224px / 3);
  }
}

.server-detail-right{
  background: url("../imgs/server-detail-right.svg")center/contain no-repeat;
  width: 500px;
  height: 425px;
  position: absolute;
  right: 0;
  img{
    width: 224px;
    height: 212px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 150px;
    top: -40px;
  }
}

.server-content{
  padding-top: 140px;
  position: relative;
}

.server-sticky{
  position: sticky;
  top: 100px;
  height: max-content;
  .sub_info--btn{
    margin-top: 20px;
    background-color: #ecf0f5;
    color: #1e3876;
    background-image: radial-gradient(circle at 50% 100%,#e6ebf1 1%,transparent 1%);
  }

}
.server-text{
  li{
    margin-top: 10px;
    &::marker{
      color: #4faae7!important;
    }
  }

}
.sticky-title{
  font-size: $size13;
  line-height: 1.4;
  font-family: var(--mainFont);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  color: var(--mainFontColor);
}

.sticky-description{
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #687186;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
 a{
   color: var(--secondFontColor);
   text-decoration: none;
 }
}

.sticky-down{
  margin-top: 70px;
  span{
    font-size: $size13;
    line-height: 1.4;
    font-family: var(--mainFont);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: normal;
    color: var(--mainFontColor);
  }
  ul{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li{
      list-style: none;

      a{
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        background: #fff;
        color: #687186;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        text-decoration: none;
      }
    }
  }
}

.server-content{
  .server-item{
    padding-bottom: 70px;
    border-bottom: 1px solid #e7e8ea;
    padding-top: 70px;
    &:first-child{
      padding-top: 0;
    }
  }
}

.server-content--cards{
  .cards-list{
    .card-item{
      display: flex;
      align-items: center;
      gap: 10%;
      &:nth-child(2n){
        .card-text{
          order: 1;
        }
        .card-img{
          order: 0;
        }
      }
      .card-text{
        width: 40%;
      }
      .card-name{
        color: var(--secondFontColor);
        font-size: $size13;
        line-height: 1.4;
        font-family: var(--mainFont);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-style: normal;
      }
      .card-title{
        margin: 10px 0;
        font-size: $size32;
        line-height: 1.3;
        font-family: var(--mainFont);
        font-weight: 500;
        color: var(--mainFontColor);
      }
      .card-description{
        margin-top: 20px;
        font-family: 'Open Sans';
        font-size: $size16;
        font-weight: 400;
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        background: #fff;
        color: #687186;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        margin-bottom: 20px;

      }
      ul{
        li{
          font-family: 'Open Sans';
          font-size: $size16;
          font-weight: 400;
          line-height: 1.5;
          -webkit-text-size-adjust: 100%;
          background: #fff;
          color: #687186;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          margin-bottom: 10px;
          &::marker{
            color: var(--secondFontColor);
          }
        }
      }
      .card-img{
        width: 50%;
        img{
          width: 100%;
        }
      }
    }
  }
}

.modal-search{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: none;
  .btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
  }
  input{
    height: 80px;
    background: 0 0;
    font-size:$size42;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    overflow: visible;
    -webkit-appearance: none;
    vertical-align: middle;
    width: 100%;
    border: none;
    color: #687186;
    transition: .2s ease-in-out;
    text-align: center;
    transition-property: color,background-color,border-color,box-shadow;
  }
  &.active{
    display: flex;
  }
}
