$size16: 16px;
$size42:calc( (100vw - 375px)/(1320 - 375) * (42 - 35) + 35px);
$size32: 32px;
$size17: 17px;
$size24: 24px;
$size16: 16px;
$size12: 12px;
$size13: 13px;
$size17: 17px;
$size11: 11px;
$size20: 20px;
$size22: 22px;
@media(max-width: 1585px){
  .server-detail-left,
  .server-detail-right{
    display: none;
  }
}
@media(max-width: 1549px){
  .team_section .team--list{
    grid-template-columns: repeat(3,1fr);
  }
}
@media(max-width: 1399px){
  .doctor-photo,
  .doctor-experience{
    &:before,
    &:after{
      display: none;
    }
  }
}
@media (max-width: 1199px) {
  .server-content--cards .cards-list .card-item{
    flex-direction: column;
    .card-text,
    .card-img{
      width: 100%;
    }

    .card-img{
      order: 0;
    }
    .card-text{
      order: 1;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    &:nth-child(2n){
      .card-img{
        order: 0;
      }
      .card-text{
        order: 1;

      }
    }
  }
  .server-wrapper{
    .server-content--wrapper,
    .server-sticky{
      width: 100%;
      max-width: 100%;
    }
    .server-sticky{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      position: static;
    }
  }
  .server-top{
    padding-bottom: 0;
    .top-icon{
      margin-top: 0;
    }
  }
  .server-item{
    .server-text--title{
      max-width: 100%;
      width: 100%;
    }
    .col-8{
      max-width: 100%;
      width: 100%;
    }
  }
  .doctors-list--main{
    grid-template-columns: 1fr;
  }
  .blog-banner{
    &:before,
    &:after{
      display: none;
    }
  }
  .rewards-content{
    display: flex;
    gap: 40px;
    flex-direction: column;
    .section-title,
    .rewards--list{
      max-width: 100%;
      width: 100%;
    }
  }
  .team_section .team--list{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
  }
  .about_section{
    .col-4,
    .patients--items{
      width: 100%;
      max-width: 100%;
    }
    .col-4{
      margin-bottom: 40px;
      text-align: center;
    }
  }
  .career_section{
    .col-4,
    .career--list{
      width: 100%;
      max-width: 100%;
    }
    .col-4{
      margin-bottom: 40px;
      text-align: center;
    }
  }
  .blog-list{
    grid-template-columns: repeat(2,1fr);
  }
  .blog-top:before,
  .section-blog_author:after,
  .section-blog_author:before{
    display: none;
  }
}
@media(max-width: 1024px){
  .contact-list{
    .contact-list--items{
      grid-template-columns: repeat(2,1fr);
    }
  }
  .doctor-experience{
    .experience-list{
      .experience-item{
        gap: 20px;
        .item-name,
        .item-list{
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

}
@media(max-width: 991px){
  .section-title{
    text-align: center;
    br{
      display: none;
    }
  }
  .section-description{
    text-align: center;
  }
  .section--link{
    margin: 40px auto 0 auto;
  }
  .section-name{
    text-align: center;
  }

  header{
    top: 0;
  }
  .banner_section{
    padding-top: 40px;
    .banner_section--row{
      flex-direction: column;
    }
    .banner_section--text{
      max-width: 100%;
      width: 100%;
      min-height: max-content;
      h1{
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      span{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
      svg{
        display: none;
      }
    }
    .banner_section--img{
      width: 100%;
      max-width: 100%;
    }
  }
  .header--top{
    .header--info{
      gap: 15px;
      .info--socials{
        display: none;
      }
    }
    .burger-toggle{
      display: flex;
      align-items: center;
      &.active{
        svg{
          display: none;
        }
        svg.close{
          display: block;
          stroke: var(--mainFontColor);
          object-fit: contain;
        }
      }
    }

  }
  .header--body{
    padding: 0;
    .btn--default{
      display: none;
    }
    .header--menu{
      overflow: hidden;
      transition: .3s all;
      position: fixed;
      background: #2853B9;
      height: 100vh;
      top:80px;
      bottom: 0;
      width: 100%;
      left: 0;
      transform: translate(0%, -200%);
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      display: flex;
      flex-direction: column;
      &.active{
        transform: translate(0%, 0%);
        z-index: 5;
        overflow: visible;
      }

      ul{
        flex-direction: column;
        gap: 10px;

        li{
          width: 100%;
          border-top: 1px solid #e7e8ea;
          padding: 10px 0;
          position: relative;
          &.menu--item_children{
            .item--toggle_popup{
              display: block;
              position: absolute;
              right: calc(var(--bs-gutter-x) * .5);;
              top: calc(45px / 2);
              transform: translateY(-50%);
              &.active{
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
          &:hover{
            .menu--sub{
              display: none;
            }
          }
          &:first-child{
            border-top: transparent;
          }
          &.active{
            a{
              color: #fff;
            }

          }
          .menu--sub{
            display: none;
            padding: 5px 0 5px 15px;
            margin-top: 0;
            .menu--sub_content{
              max-width: 100%;

              .menu--sub--list{
                display: flex;
                flex-direction: column;
                gap: 1em;
                .menu--sub_item{
                  border: none;
                  a{
                    img{
                      display: none;
                    }
                    .list--link_content{
                      span{
                        font-size: $size16;
                        color: rgba(255,255,255,.6);
                      }
                      font-size: 0;
                    }
                  }
                }
              }
              .menu--sub_info{
                display: none;

              }
            }
          }
          &.menu--item_children--open{
            .menu--sub{
              display: flex;
            }
          }
          a{
            color: rgba(255,255,255,.6);

            &.active{
              color: #fff;
            }
            &:before{
              display: none;
            }
          }
        }
      }
      .btn--default{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
      }

      .burger--copy{
        display: block;
        margin: auto auto;
        ul{
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 20px;
          color: rgba(255,255,255,.6);
          li{
            border: none;
            width: max-content;

            a{
              font-size: $size13;
              font-family: 'Open Sans';
              color: rgba(255,255,255,.6);
            }
          }
        }
      }
    }
  }

  .services_section{
    .services_section--row{
      grid-template-columns: 1fr;
      .services_section--item{
        padding: 40px;
        justify-content: flex-start;
        align-items: flex-start;
        background: radial-gradient(50% 50% at 50% 50%, #EFF3F6 0%, rgba(239, 243, 246, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
        &:nth-child(2n - 1){

        }
      }
    }
  }

  .banner_section--bg_layer{
    display: none;
  }
  .banner_section{
    .banner_section--img{
      picture{
        display: block;
        width: 100%;
        img{
          max-width: 100%;
        }
      }
    }
  }
  .doctors_section{
    padding-top: 70px;
    .doctors_section--row{
      flex-direction: column;
      .doctors_section--info{
        max-width: 100%;
        width: 100%;
        .section-btn{
          margin: 40px auto 30px auto;
          display: block;
          width: max-content;
        }
      }
    }
    .doctors_section--img{
      max-width: 720px;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      width: 100%;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-right: auto;
      margin-left: auto;
      img{
        width: 100%;
      }
    }
  }

  .about_section{
    .about_section--top{
      .col-6{
        max-width: 100%;
        width: 100%;
        justify-content: center !important;
      }
    }
  }


  .patients_section--bg{
    top: 40px;
  }
  .patients--info,
  .patients--items{
    max-width: 100%;
    width: 100%;
  }
  .patients--info{
    margin-bottom: 40px;
  }

  .contacts_section{
    .col-4{
      max-width: 100%;
      width: 100%;
    }
    .layers{
      display: none;
    }
    .btn--default{
      margin: 40px auto !important;
      display: block;
      width: max-content;
    }
    .contacts--content{
      .contants--map,
      .contacts--items{
        max-width: 100%;
        width: 100%;
      }
      .contacts--items{
        margin-top: 40px;
        .item{
          justify-content: flex-start !important;
        }
      }
    }
  }
  .image_section{
    .col-6{
      max-width: 100%;
      width: 100%;
    }
  }
  footer .row-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    .item{
      &:first-child{
        grid-area: 1/1/2/3;
        margin-bottom: 30px;
      }
    }
  }
  footer{
    .footer-copy{
      flex-direction: column;
      gap: 10px;
      .item{
        text-align: center;
      }
    }
  }
  .banner_section--inner{
    .banner_section--text{
      h1{
        margin-bottom: 20px;
      }
      .banner_section--description{
        margin-bottom: 20px;
        margin-top: 0;
      }
    }
  }

  .services_additional{
    margin-top: 140px;
  }
  .services_additional--list{
    grid-template-columns: repeat(2, 1fr);
  }
  .faq-wrapper{
    .faq-text,
    .faq-list{
      max-width: 100%;
      width: 100%;
    }
  }
  .services_additional--list{
    .services_additional--item{
      gap: calc(var(--index) * 3);
    }
  }

  .contact-info .contact-info--text{
    grid-template-columns: 1fr;
  }
  .steps .steps-list .steps-item{
    flex-direction: column;
    .steps-title,
    .steps-info{
      width: 100%;
    }
  }
  .inner .image_section svg{
    display: none;
  }
}
@media(max-width: 767px){
  section.doctors{
    padding-top: 40px !important;
  }
  .rewards{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .doctors-list--main{
    .list-item{
      flex-direction: column;
      height: max-content;
      .item-photo{
        max-width: 100%;
        height: auto;
      }
      .item-content{

      }
    }
  }
  .doctors-list--main .list-item .item-content .item--link{
    margin-top: 40px;
    transform: translateY(0);
  }
  .career--list .career--item{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .blog-list{
    grid-template-columns: 1fr;
  }
  .gallery-big{
    height: 410px;
  }
  .doctor-description{
    column-count: 1;
    width: 100%;
  }
  .specialties-list{
    width: 100%;
    grid-template-columns: 1fr;
  }
  .doctor-experience{
    .experience-list{
      width: 100%;
    }
  }

}

@media (max-width: 600px){
  .contact-list .contact-list--items{
    grid-template-columns: 1fr;
    .contact-item{
      width: 100%;
    }
  }
  .services_additional--list{
    grid-template-columns: 1fr;
  }
  .header--info{
    .info--phone{
      display: none;
    }
  }
  .banner_section{
    .banner_section--img,
    .banner_section--text{
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
    }
  }

  .about_section .about--gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: none;
    a{
      &:first-child{
        grid-area: 1 / 1 / 3 / 3;
      }
      &:nth-child(2){
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(3){
        grid-area: 3 / 2 / 4 / 3;
      }
      &:nth-child(4){
        grid-area: 4 / 1 / 5 / 2;
      }
      &:nth-child(5){
        grid-area: 4 / 2 / 5 / 3;
      }
    }
  }

  .patients--items{
    grid-template-columns: 1fr;
    gap: 40px !important;
  }
  .patients--items .item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .item--description{
      text-align: center !important;
    }
  }
  .doctor-experience .experience-list .experience-item .item-list .time-list{
    grid-template-columns: 1fr;
  }
  .doctor-banner{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .doctor-specialties,
  .doctor-experience{
    padding-bottom: 40px;
  }
}

